<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AgentTemplateDbConnectionString" value="Server=rav-lap-297a; Database=IdeasBeta3; User Id=sa; Password=R@ve1234;"/>
    <add key="AgentTemplateDbCommandTimeoutSeconds" value="60"/>
    <add key="ProcessorAffinityMask" value="0" />
    <add key="ThreadCount" value="1" />
    <add key="PollIntervalSeconds" value="60" />
    <add key="PauseBeforeFirstPollSeconds" value="2" />
    <add key="PauseAfterAppErrorMinutes" value="2" />
    <add key="PauseAfterServiceErrorMinutes" value="5" />
    <add key="PauseAfterGeneralErrorMinutes" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <behaviors configSource="WcfConfig\WcfBehaviors.config"/>
    <bindings configSource="WcfConfig\WcfBindings.config"/>
    <services configSource="WcfConfig\WcfServices.config"/>
    <client configSource="WcfConfig\WcfClient.config" />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>