<services>
  <service name="IET.Inspec.Fairburn.AgentTemplate.Service"
        behaviorConfiguration="Agent.Behavior">
    <endpoint name="Agent.NetTcpEndpoint"
          binding="netTcpBinding"
          bindingConfiguration="Agent.NetTcpBinding"
          contract="IET.Inspec.Fairburn.AgentTemplate.Contract.IService" />
    <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" />
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:42170/Fairburn/AgentTemplate/" />
        <add baseAddress="net.tcp://localhost:42171/Fairburn/AgentTemplate/" />
      </baseAddresses>
    </host>
  </service>
</services>
