<bindings>
  <basicHttpBinding>

    <!-- Public.HttpBinding -->
    <binding name="Public.HttpBinding"
          hostNameComparisonMode="StrongWildcard"
          openTimeout="00:01:00"
          sendTimeout="00:10:00"
          receiveTimeout="00:10:00"
          closeTimeout="00:01:00"
          maxBufferPoolSize="5242880"
          maxBufferSize="5242880"
          maxReceivedMessageSize="5242880" >
      <readerQuotas
            maxDepth="32"
            maxStringContentLength="5242880"
            maxArrayLength="5242880"
            maxBytesPerRead="5242880"
            maxNameTableCharCount="5242880" />
      <security mode="None">
        <transport
              clientCredentialType="None"/>
        <message />
      </security>
    </binding>

  </basicHttpBinding>
  <netTcpBinding>
    <binding name="Agent.NetTcpBinding"
          portSharingEnabled="true"
          hostNameComparisonMode="StrongWildcard"
          transactionFlow="false"
          openTimeout="00:01:00"
          sendTimeout="00:10:00"
          receiveTimeout="00:10:00"
          closeTimeout="00:01:00"
          maxBufferPoolSize="5242880"
          maxBufferSize="5242880"
          maxReceivedMessageSize="5242880" >
      <readerQuotas
            maxDepth="32"
            maxStringContentLength="5242880"
            maxArrayLength="5242880"
            maxBytesPerRead="5242880"
            maxNameTableCharCount="5242880" />
      <security mode="None">
        <transport
              clientCredentialType="None"/>
        <message />
      </security>
    </binding>
  </netTcpBinding>
</bindings>
