<bindings>
  <netTcpBinding>
    <binding name="Agent.NetTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
      receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false"
      hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="5242880"
      maxBufferSize="5242880" maxReceivedMessageSize="5242880" portSharingEnabled="true">
      <readerQuotas maxDepth="32" maxStringContentLength="5242880"
        maxArrayLength="5242880" maxBytesPerRead="5242880" maxNameTableCharCount="5242880" />
      <security mode="None">
        <transport clientCredentialType="None" />
      </security>
    </binding>
  </netTcpBinding>
</bindings>
